@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

.bg-firebrick-100 {
    background-color: rgb(202 48 53 / 1);
  }

.hover\:bg-salmon-100:hover {
  background-color: rgb(240 87 92 /1);
}

.hover\:bg-salmon-200:hover  {
  background-color: rgba(240, 87, 92, 0.09);
}

.hover\:border-salmon-100:hover {
  border-color: rgb(240 87 92 /1);
}

.border-firebrick-100 {
    border-color: rgb(202 48 53 / 1);
}

  .outfit-font {
    font-family: 'Outfit', sans-serif;
  }

  .leading-intro-heading {
    line-height: 3.5rem;
}

.margin-left-intro {
    margin-left: 15rem; /* Adjust this value as needed */
}
  
.margin-top-intro {
    margin-top: 8rem; /* Adjust this value as needed */
}

.margin-right-intro {
    margin-right: 10rem; /* Adjust this value as needed */
}

.text-font-size-intro {
    font-size: 3.13rem;
}

.max-w-sec1 {
    max-width: 100%;
}

.banner-button-size {
  width: 10.31rem;
}

@media (max-width: 1300px) {
    .margin-left-intro {
      margin-left: 9rem; /* Adjust this value as needed */
    }

    .margin-top-intro {
        margin-top: 7rem; /* Adjust this value as needed */
    }

    .margin-right-intro {
        margin-right: 0rem; /* Adjust this value as needed */
    }
 
    .text-font-size-intro {
        font-size: 3.1rem;
    }
  
  }
  
  @media (max-width: 991px) {
    .margin-left-intro {
      margin-left: 9rem; /* Adjust this value as needed */
    }

    .margin-top-intro {
        margin-top: 5rem; /* Adjust this value as needed */
    }

    .margin-right-intro {
        margin-right: 6rem; /* Adjust this value as needed */
    }

    .text-font-size-intro {
        font-size: 3.1rem;
    }
  
  }
  
  @media (max-width: 786px) {
    .margin-left-intro {
      margin-left: 7rem; /* Adjust this value as needed */
    }

    .margin-top-intro {
        margin-top: 2rem; /* Adjust this value as needed */
    }

    .margin-right-intro {
        margin-right: 4rem; /* Adjust this value as needed */
    }

    .text-font-size-intro {
        font-size: 3.1rem;
    }

    .banner-button-size {
        width: 5rem;
    }
  
  }

  @media (max-width: 722px) {
    .margin-left-intro {
      margin-left: 7rem; /* Adjust this value as needed */
    }

    .margin-top-intro {
        margin-top: 2rem; /* Adjust this value as needed */
    }

    .margin-right-intro {
        margin-right: 4rem; /* Adjust this value as needed */
    }

    .text-font-size-intro {
        font-size: 3.21rem;
    }

    .banner-button-size {
      width: 5rem;
  }
  
  }
  
  @media (max-width: 568px) {
    .margin-left-intro {
      margin-left: 2.5rem; /* Adjust this value as needed */
    }

    .margin-top-intro {
        margin-top: 1rem; /* Adjust this value as needed */
    }

    .margin-right-intro {
        margin-right: 2rem; /* Adjust this value as needed */
    }

    .text-font-size-intro {
        font-size: 2.3rem;
    }

    .max-w-sec1 {
        max-width: 85%;

    }
  
  }

  @media (min-width: 1200px) {
    .md\:block-image {
        display: block;
    }

}

.logo-image-size {
    height: 16rem;
    width: auto;
}

@media (man-width: 1200px) {

    .logo-image-size {
        height: 16rem;
        width: auto;
    }
}