@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

.outfit-font {
    font-family: 'Outfit', sans-serif;
}

.underline-space {
    text-decoration: underline;
    margin-bottom: 0.5rem;
}

.contact-section {
    background-color: #07060e;
    padding: 5rem 0;
}

.title-container {
    max-width: 500px;
    margin: 0 auto;
}

.subtitle {
    font-size: 1.5rem;
    color: #FFD700; /* Adjust as needed */
}

.main-title {
    font-size: 3.2rem;
    color: #fff;
    font-weight: 500;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.col-md-8 {
    grid-column: span 1;
}

.col-md-4 {
    grid-column: span 1;
}

.contact-form {
    background-color: #07060e;
    color: #fff;
}

.input-field {
    color: #000;
    font-size: 1.1rem;
    border: 1px solid #ddd;
    outline: none;
    padding: 16px 14px;
    width: 100%;
    background: #cac6c6;
    border-radius: 8px;
    margin-bottom: 1rem;
    font-weight: 500;
    
}

.input-field::placeholder {
    color: #000; 
    font-weight: 300;
}

.input-field:focus {
    border: 1px solid #d5db34;
    background: #fff;
}

.input-field.my-4 {
    margin-bottom: 4rem;
}

textarea {
    min-height: 14rem;
}

.text-right {
    text-align: right;
}

.btn-primary {
    background-color: #000;
    color: #fff;
    padding: 12px 24px; /* Adjusted padding for better appearance */
    border: 2px solid #fff; /* Added white border */
    border-radius: 6px; /* Added border-radius for rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Added box-shadow for depth effect */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-family: 'Outfit', sans-serif;
}

.btn-primary:hover {
    background-color: #fff;
    color: #000;
    font-family: 'Outfit', sans-serif;
}

@media (max-width: 786px) {
    .input-field {
        width: 80%;
        margin-left: 1rem;
        height: 3rem;
    }
    
}











